<div class="navbar-fixed" style="margin-bottom: 25px;">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
      <a routerLink="/" class="brand-logo center">MY BLOG WEBSITE</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/add-category" routerLinkActive="active">Add Category</a></li>
        <li><a routerLink="/add-post" routerLinkActive="active">Add Post</a></li>
      </ul>
    </div>
  </nav>
</div>
