<table class="striped">
  <caption
    style="font-size: 25px; margin-bottom: 10px; text-transform: uppercase;"
  >
    Categories
  </caption>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>
        {{ category.name }}
      </td>
      <td style="width: 150px;">
        <a
          class="waves-effect waves-light btn"
          (click)="editCategory(category.id)"
        >
          <i class="material-icons">edit</i></a
        >
        <a
          class="waves-effect waves-light btn red"
          (click)="deleteCategory(category.id)"
        >
          <i class="material-icons">delete_forever</i></a
        >
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" class="center" style="padding-top: 50px;">
        <button
          type="button"
          data-target="modal1"
          class="btn-floating btn-large btn modal-trigger pulse grey"
        >
          <i class="material-icons">add</i>
        </button>
      </td>
    </tr>
  </tfoot>
</table>

<!-- Modal Structure -->
<div id="modal1" class="modal myModal">
  <div class="modal-content">
    <div class="row">
      <h4 class="col s12" *ngIf="!category.id">Add Category</h4>
      <h4 class="col s12" *ngIf="category.id">Edit Category</h4>
      <form action="" class="col s12" #form="ngForm">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="name"
              name="name"
              [(ngModel)]="category.name"
              #name="ngModel"
              type="text"
              required
              class="validate"
            />
            <label for="name" class="active">Enter Category Name</label>
            <div
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="name.errors.required">
                Name is required.
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="modal-close waves-effect waves-green btn-flat">
      Cancel
    </button>
    <button
      *ngIf="category.id"
      type="button"
      class="waves-effect waves-green btn-flat"
      (click)="updateCategory()"
      [disabled]="!form.valid"
    >
      Update
    </button>
    <button
      *ngIf="!category.id"
      type="button"
      class="waves-effect waves-green btn-flat"
      (click)="createCategory()"
      [disabled]="!form.valid"
    >
      Submit
    </button>
  </div>
</div>
